@model sge.Models.AuthRequest
@{
  ViewData["Title"] = "Autenticação";
}

<div class="container">
  <div class="row justify-content-center">
    <div class="card border-light w-50">
      <h1 class="card-title text-center py-2">Área do usuário</h1>
      <hr/>
      <div class="card-body">
        <form asp-action="Login">
          <div asp-validation-summary="ModelOnly" class="text-danger"></div>
          <div class="form-group py-2">
            <label asp-for="matricula" class="control-label"></label>
            <input asp-for="matricula" class="form-control" type="number"/>
            <span asp-validation-for="matricula" class="text-danger"></span>
          </div>
          <div class="form-group py-2">
            <label asp-for="palavra" class="control-label"></label>
            <input asp-for="palavra" class="form-control" type="password"/>
            <span asp-validation-for="palavra" class="text-danger"></span>
          </div>
          <div class="form-group py-2">
            <input type="submit" value="Entrar" class="btn btn-primary btn-block col-12" />
          </div>
        </form>
      </div>
      <div>
        É o primeiro acesso ou esqueceu a sua senha, <a asp-area="" asp-controller="Auth" asp-action="Recovery">clique aqui.</a><br/>
      </div>
    </div>
  </div>
</div>
