@model sge.Entities.Funcionario

@{
    ViewData["Title"] = "Edit";
}

<div class="row justify-content-center">
    <div class="card border-light w-50">
        <h1 class="text-center">Editar dados do funcionario</h1>
        <hr />
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="cpf" class="control-label"></label>
                <input asp-for="cpf" class="form-control" />
                <span asp-validation-for="cpf" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="re" />
            <div class="form-group">
                <label asp-for="matricula" class="control-label"></label>
                <input asp-for="matricula" class="form-control" />
                <span asp-validation-for="matricula" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="nome" class="control-label"></label>
                <input asp-for="nome" class="form-control" />
                <span asp-validation-for="nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="sobrenome" class="control-label"></label>
                <input asp-for="sobrenome" class="form-control" />
                <span asp-validation-for="sobrenome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="apelido" class="control-label"></label>
                <input asp-for="apelido" class="form-control" />
                <span asp-validation-for="apelido" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="senha"/>
            <div class="form-group">
                <label asp-for="funcao" class="control-label"></label>
                <select asp-for="funcao" class="form-control" asp-items="Html.GetEnumSelectList<Funcionario.Funcao>()"></select>
                <span asp-validation-for="funcao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="situacaoFuncionario" class="control-label"></label>
                <select asp-for="situacaoFuncionario" class="form-control" asp-items="Html.GetEnumSelectList<Funcionario.SituacaoFuncionario>()"></select>
                <span asp-validation-for="situacaoFuncionario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="escala" class="control-label"></label>
                <select asp-for="escala" class="form-control" asp-items="Html.GetEnumSelectList<Funcionario.Escala>()"></select>
                <span asp-validation-for="escala" class="text-danger"></span>
            </div>
            <div class="form-group py-2">
                <input type="submit" value="Save" class="btn btn-primary col-12" />
            </div>
        </form>
        <div>
            <a asp-action="Index">Back to List</a>
        </div>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
